.contactus
	.inner
		contentspacing(1)
		
		.content
			margin-bottom 3rem
			
			.contactmodule
				border-top 1px solid maincolor
				padding-top 2rem
				margin-top 3rem;
				
				iframe
					width 99%
					height 420px
					border none
+bp(medium)
	.contactus
		.inner
			.content
				lost-utility clearfix
				
				.text
					lost-column 1/2
							
				.contactmodule
					lost-column 1/2
					border-top 0
					margin-top 0
					margin-bottom 0
					padding-top 0
					
				.text + .contactmodule
					padding-left 1rem
					
					
						
						