.activities
  .row
    lost-utility clearfix
  .img
    img
      max-width 100%
      
  .intro, .phases
    contentspacing(1)
    padding-top 1rem
    padding-bottom 1rem
  
  .intro
    background-color ci_grey_light
  
  .phases 
    h3
      fontsize(xl)
      margin 0 0 1rem
      .name
        color black
        
  .phase
    margin-bottom 3rem
    
+bp(large)
  .activities 
    .col    
      lost-column 1/2
    .intro, .phases
      contentspacing(3)
      padding-top 2rem
      padding-bottom 2rem
  