@require "@fancyapps/fancybox/dist/jquery.fancybox.css";
@require "flickity/css/flickity.css";

@require "variables";
@require "mixins";


*, *::before, *::after 
  box-sizing border-box

html
  font-size base

html, body 
  padding 0
  margin 0

body 
  font-family 'Source Sans Pro', sans-serif
    
@require "elements/*"
@require "modules"
@require "layout/*"
