ci_blue = rgb(60, 184, 184)
ci_green = rgb(203, 215, 11)
ci_grey = rgb(163, 180, 172)
ci_pink = rgb(277, 85, 59)
ci_orange = rgb(226, 164, 29)

ci_blue_light = rgb(216, 241, 241)
ci_grey_light = rgb(240, 242, 241)

menucolor = inherit
menucoloractive = ci_blue

imagetextcolor = ci_blue_light
imagetextbackground = alpha(ci_blue, 0.6)
wotbackground = ci_grey_light

presentationcolor = white
presentationbackground = ci_blue
personimagebackground = ci_blue_light

maincolor = ci_blue

headerheight = 125px

footercolor = #999999
footerbackground = #4d4d4d

base = 18px
logobaseline = 25px
gutter = 2rem

maxwidth = 1200px

breakpoints = {
  small: 480
  medium: 768
  large: 1024
  larger: 1200
}

fontweights = {
  normal: 300
  bold: 600
}

fontsizes = {
  xs: 14
  s: 16
  m: 18
  l: 24
  xl: 32
  xxl: 48
  xxxl: 60
}