.lshape
  contentspacing(1)
  background wotbackground
  padding-bottom 1rem
  

    
+bp(large)
  .lshape
    contentspacing(3)
    lost-utility clearfix
    padding-bottom 2rem
 
    .intro
      width 50%
      
    .text
      lost-utility clearfix
      
    .col
      lost-column 1/2
